html::-webkit-scrollbar {
    display: none;
}
*{
    margin: 0;
    padding: 0;

}
body{
   background-color: #b08ead!important;
}
.header{
     margin: 0 auto;
     height: 65px;
     width: 1230px;

}

.header>section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.header>section>img{
    width: 60px;
    height: 60px;
}
.header>section>nav{
    display: flex;
    align-items: center;
}
.header>section>nav>li>a{
    margin-left: 45px;
    font-size: 11pt;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}
.header>section>nav>li:last-child>a{
    border: 1px solid white;
    padding: 6px 10px;
    border-radius: 3px;
    }
.header>section>nav>li>a:hover{
    font-weight: bold;
    color: white;
}
.header>section>nav>li>ul {
    display: none;
    background-color: #66cccc;
    list-style-type: none;
    
}
.header>section>nav>li {
    list-style-type: none;
}
.header>section>nav>li>ul>li>a{
    text-decoration: none;
    color: aliceblue;
}
.header>section>nav>li:last-child:hover>ul {
    display: block;
    display: block;
    background:white;
    position: absolute;
    top: px;
    margin: 7px 0px 0px 45px;
    width: 105px;
    z-index: 2;
    border-radius: 5px;
}
.header>section>nav>li:last-child:hover>ul>li{
    margin-top: 5px;
    text-align: center;
    border-bottom: 1px solid #66cccc;
}



.header>section>nav>li:last-child:hover>ul>li>a{
    font-size: 11pt;
    text-decoration: none;
    color:#66cccc;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;

}
.header>section>nav>li {
    list-style-type: none;
}
main{
    background-color: white;
}
.window{
    width: auto;
    height: 500px;
    background-image:url(../img/11111.jpg) ;
    background-position-y: -150px;
    background-size: cover;
    z-index: 1;
}

.window>p:first-child{
    color: #b08ead;
    font-size: 24pt;
    font-weight: normal ;
    line-height: normal;
    margin-left: 40px;
    padding-top: 100px;

}


ul{
    margin-bottom: 0!important;
}

.sl>a{
    text-decoration: none!important;
    color: black!important;
    font-size: 20px;
    margin-left: 50px;
}
.window>p:last-child{
    font-size: 14pt;
    margin-left: 40px;
    line-height: normal;
}
.zgl{
    color: #b08ead;
    font-size: 24pt;
    font-weight: normal ;
    line-height: normal;
    padding-top: 100px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;

}
.content-window{
    margin-top: 50px;
    border-bottom: solid 1px gray ;


}
.content-window>div>div:first-child>img{
    background-size: cover;
    box-shadow: -30px -30px 0px 1px #b08ead;
    border: solid 1px #6f42c1;
    margin-left: 30px;
    margin-bottom: 80px;
    margin-top: 20px;
    height: 400px;
    width: 500px;
}

.content-window>div>div:last-child>div{
    margin-top: 20px;
    margin-left: 80px;
}
.content-window>div>div:last-child>div>p:first-child{
    color: #b08ead;
    font-size: 18pt;
    font-weight: normal ;
}

.content-window>div>div:last-child>div>p:last-child{
    color: gray;
    font-size: 16pt;
}
.content-window>div>div:last-child>div>p:last-child>a{
    text-decoration: none!important;
    color: red!important;
}

.content-window>div>div:last-child>p{
    margin-left: 80px;
    font-size: 14pt;
}

.pagination{
    padding: 20px;
}



.for-form>form{
    padding: 50px;
    box-shadow: 0px 0px 100px #b08ead ;
    border-radius: 20px;
    margin: 50px;
}
.for-form>form>table>tbody>tr{
    display: grid;
}
.for-form>form>input{
   width: 100%;
    margin-top: 10px;
    background-color: #b08ead;
    border: none;
    border-radius:5px ;
    color: white;
    font-weight: bold;
    height: 35px;

}
.for-form>form>button{
  width: 100%;
    margin-top: 10px;
    background-color: #b08ead ;
     border: none;
    border-radius:5px ;
    font-weight: bold;
}
.for-form>form>table>tbody>tr>th>label{
    color: #b08ead ;
    margin-top: 10px;
}
.for-form>form>table>tbody>tr>td>label{
        color: #b08ead ;
    font-weight: bold;
    margin-top: 10px;

}
 .wit{
     height: 600px;
 }
.for-form>form>table>tbody>tr>td>input{
    width: 100%;
}
 .wit2{
      height: 900px;
 }




footer{
    height: 50px;

}



footer>section:first-child{
    width: 980px;
     margin: 0 auto;
     display: flex;
    flex-direction: column;
    align-items: center;

}






